:root {
    color-scheme: light;
    /* light mode colors */
    --font-color: #2b2b2b;
    --bg-color: #f5f5f5;
    --border-color: black;
    --emph-color: #d9d9d9;
    --header-bg-color: white;
    --footer-bg-color: #2b2b2b;
    --footer-color: #f5f5f5;
    --link-color: #4d3269;
    --button-bg-color: #2b2b2b;
    --button-font-color: #f5f5f5;
    --valid-field: blue;
    --invalid-field:red;
    --menu-icon-color: black;
    --menu-item-color: #d9d9d9;
    --button-hover-color: #87cefa;
}