:root {
    color-scheme: dark;
    /* dark mode colors */
    --font-color: #f5f5f5;
    --bg-color: #2b2b2b;
    --border-color: white;
    --emph-color: #555555;
    --header-bg-color: black;
    --footer-bg-color: black;
    --footer-color: white;
    --link-color: #adadc9;
    --button-bg-color: #f5f5f5;
    --button-font-color: #2b2b2b;
    --valid-field: #5293BB;
    --invalid-field: #ff5252;
    --menu-icon-color: white;
    --menu-item-color: black;
    --button-hover-color: #529fff;
}